#
# pin constraints
#
NET CLK_50MHZ LOC = "H17"  |  IOSTANDARD = "LVCMOS33";
NET RESET LOC = "N14"  |  IOSTANDARD = "LVCMOS33"  |  TIG  |  PULLDOWN;
NET SPI_FLASH_HOLDn LOC = "V14"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_MISO LOC = "R13"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_MOSI LOC = "T13"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_SCLK LOC = "R15"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_SS LOC = "V3"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_Wn LOC = "T14"  |  IOSTANDARD = "LVCMOS33";
NET USB_Uart_sin LOC = "A11"  |  IOSTANDARD = "LVCMOS33";
NET USB_Uart_sout LOC = "A10"  |  IOSTANDARD = "LVCMOS33";
#
# additional constraints
#

NET "CLK_50MHZ" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;

### Set Vccaux to 3.3V ###
CONFIG VCCAUX = "3.3" ;

