#
# pin constraints
#
NET CLK_50MHZ LOC = "H17"  |  IOSTANDARD = "LVCMOS33";
NET RESET     LOC = "N14"  |  IOSTANDARD = "LVCMOS33"  |  TIG  |  PULLDOWN;
#
NET SPI_FLASH_HOLDn LOC = "V14" |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_MISO  LOC = "R13" |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_MOSI  LOC = "T13" |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_SCLK  LOC = "R15" |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_SS    LOC = "V3"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_Wn    LOC = "T14" |  IOSTANDARD = "LVCMOS33";
#
NET USB_UART_RX     LOC = "A11" |  IOSTANDARD = "LVCMOS33";
NET USB_UART_TX     LOC = "A10" |  IOSTANDARD = "LVCMOS33";
#
#
NET LED1        LOC = "V16"  | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 8 ;
NET LED2        LOC = "U16"  | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 8 ;
NET LED3        LOC = "A16"  | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 8 ;
NET LED4        LOC = "A15"  | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 8 ;
#
# Wings
NET WING_A[15]  LOC = "D18"  | IOSTANDARD = "LVCMOS33" | PULLDOWN ;
NET WING_A[14]  LOC = "F18"  | IOSTANDARD = "LVCMOS33" | PULLDOWN ;
NET WING_A[13]  LOC = "H18"  | IOSTANDARD = "LVCMOS33" | PULLDOWN ;
NET WING_A[12]  LOC = "H15"  | IOSTANDARD = "LVCMOS33" | PULLDOWN ;
NET WING_A[11]  LOC = "J16"  | IOSTANDARD = "LVCMOS33" | PULLDOWN ;
NET WING_A[10]  LOC = "K17"  | IOSTANDARD = "LVCMOS33" | PULLDOWN ;
NET WING_A[9]   LOC = "K15"  | IOSTANDARD = "LVCMOS33" | PULLDOWN ;
NET WING_A[8]   LOC = "L17"  | IOSTANDARD = "LVCMOS33" | PULLDOWN ;
NET WING_A[7]   LOC = "L15"  | IOSTANDARD = "LVCMOS33" | PULLDOWN ;
NET WING_A[6]   LOC = "M16"  | IOSTANDARD = "LVCMOS33" | PULLDOWN ;
NET WING_A[5]   LOC = "N17"  | IOSTANDARD = "LVCMOS33" | PULLDOWN ;
NET WING_A[4]   LOC = "N16"  | IOSTANDARD = "LVCMOS33" | PULLDOWN ;
NET WING_A[3]   LOC = "P16"  | IOSTANDARD = "LVCMOS33" | PULLDOWN ;
NET WING_A[2]   LOC = "P17"  | IOSTANDARD = "LVCMOS33" | PULLDOWN ;
NET WING_A[1]   LOC = "T17"  | IOSTANDARD = "LVCMOS33" | PULLDOWN ;
NET WING_A[0]   LOC = "U18"  | IOSTANDARD = "LVCMOS33" | PULLDOWN ;
#
# sd-card SPI interface
NET SD_SPI[0]   LOC = "B4"   | IOSTANDARD = "SDIO" | SLEW = FAST | DRIVE = 8 | PULLUP ;
NET SD_SPI[1]   LOC = "B3"   | IOSTANDARD = "SDIO" | SLEW = FAST | DRIVE = 8 | PULLUP ;
NET SD_SPI[2]   LOC = "A3"   | IOSTANDARD = "SDIO" | SLEW = FAST | DRIVE = 8 | PULLUP ;
NET SD_SPI[3]   LOC = "A2"   | IOSTANDARD = "SDIO" | SLEW = FAST | DRIVE = 8 | PULLUP ;
NET SD_LED      LOC = "A12"  | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 8 ;
#
#
NET AUDIO_LEFT  LOC = "R7"   | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
NET AUDIO_RIGHT LOC = "T7"   | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#
# additional constraints
#

NET "CLK_50MHZ" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;

### Set Vccaux to 3.3V ###
CONFIG VCCAUX = "3.3" ;

# TMDS signals
NET TMDS(0)  LOC = "T6"   | IOSTANDARD = TMDS_33 ; # Blue
NET TMDSB(0) LOC = "V6"   | IOSTANDARD = TMDS_33 ;
NET TMDS(1)  LOC = "U7"   | IOSTANDARD = TMDS_33 ; # Red
NET TMDSB(1) LOC = "V7"   | IOSTANDARD = TMDS_33 ;
NET TMDS(2)  LOC = "U8"   | IOSTANDARD = TMDS_33 ; # Green
NET TMDSB(2) LOC = "V8"   | IOSTANDARD = TMDS_33 ;
NET TMDS(3)  LOC = "U5"   | IOSTANDARD = TMDS_33 ; # Clock
NET TMDSB(3) LOC = "V5"   | IOSTANDARD = TMDS_33 ;

NET PS2_DAT   LOC = "B11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | PULLUP ;
NET PS2_CLK   LOC = "D8"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | PULLUP ;
NET MOUSE_DAT LOC = "C9"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | PULLUP ;
NET MOUSE_CLK LOC = "C6"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | PULLUP ;
