CONFIG VCCAUX = "3.3" ;

# Clock soure - use 50MHz onboard oscillator
NET "CLK50M" IOSTANDARD = LVCMOS33;
NET "CLK50M" LOC = "H17";
NET "CLK50M" TNM_NET = "CLK50M";
TIMESPEC TS_CLK50M = PERIOD "CLK50M" 20 ns HIGH 50 %;

NET "clk" TNM_NET = "TNM_CLK";
TIMESPEC "TS_CLK" = PERIOD "TNM_CLK" 40 ns HIGH 33 %;

# Reset switch
NET "SWITCH" LOC = "N14" | IOSTANDARD = LVCMOS33 | PULLDOWN ;

# LEDs
NET "LED1" LOC = "V16"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED2" LOC = "U16"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED3" LOC = "A16"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED4" LOC = "A15"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;


# RS232
NET "RXD" IOSTANDARD = LVCMOS33;
NET "RXD" LOC = "A11";
NET "TXD" IOSTANDARD = LVCMOS33;
NET "TXD" LOC = "A10";


# SRAM

NET "SRabus[11]" LOC = "L12"  | IOSTANDARD = LVCMOS33;
NET "SRabus[10]" LOC = "K12"  | IOSTANDARD = LVCMOS33;
NET "SRabus[9]" LOC = "K13"  | IOSTANDARD = LVCMOS33;
NET "SRabus[8]" LOC = "K14"  | IOSTANDARD = LVCMOS33;
NET "SRabus[7]" LOC = "H12"  | IOSTANDARD = LVCMOS33;
NET "SRabus[6]" LOC = "G13"  | IOSTANDARD = LVCMOS33;
NET "SRabus[5]" LOC = "J13"  | IOSTANDARD = LVCMOS33;
NET "SRabus[4]" LOC = "H13"  | IOSTANDARD = LVCMOS33;
NET "SRabus[3]" LOC = "H14"  | IOSTANDARD = LVCMOS33;
NET "SRabus[2]" LOC = "F14"  | IOSTANDARD = LVCMOS33;
NET "SRabus[1]" LOC = "G14"  | IOSTANDARD = LVCMOS33;
NET "SRabus[0]" LOC = "F15"  | IOSTANDARD = LVCMOS33;

NET "SRce" LOC = "G16"  | IOSTANDARD = LVCMOS33;
NET "SRwe" LOC = "E16"  | IOSTANDARD = LVCMOS33;
NET "SRoe" LOC = "F16"  | IOSTANDARD = LVCMOS33;


NET "SRdat[0]" LOC = "J16"  | IOSTANDARD = LVCMOS33;
NET "SRdat[1]" LOC = "J18"  | IOSTANDARD = LVCMOS33;
NET "SRdat[2]" LOC = "K17"  | IOSTANDARD = LVCMOS33;
NET "SRdat[3]" LOC = "K18"  | IOSTANDARD = LVCMOS33;
NET "SRdat[4]" LOC = "K15"  | IOSTANDARD = LVCMOS33;
NET "SRdat[5]" LOC = "K16"  | IOSTANDARD = LVCMOS33;
NET "SRdat[6]" LOC = "L17"  | IOSTANDARD = LVCMOS33;
NET "SRdat[7]" LOC = "L18"  | IOSTANDARD = LVCMOS33;
NET "SRdat[8]" LOC = "D18"  | IOSTANDARD = LVCMOS33;
NET "SRdat[9]" LOC = "C18"  | IOSTANDARD = LVCMOS33;
NET "SRdat[10]" LOC = "F18"  | IOSTANDARD = LVCMOS33;
NET "SRdat[11]" LOC = "E18"  | IOSTANDARD = LVCMOS33;
NET "SRdat[12]" LOC = "H18"  | IOSTANDARD = LVCMOS33;
NET "SRdat[13]" LOC = "G18"  | IOSTANDARD = LVCMOS33;
NET "SRdat[14]" LOC = "H15"  | IOSTANDARD = LVCMOS33;
NET "SRdat[15]" LOC = "H16"  | IOSTANDARD = LVCMOS33;
NET "SRdat[16]" LOC = "P16"  | IOSTANDARD = LVCMOS33;
NET "SRdat[17]" LOC = "P15"  | IOSTANDARD = LVCMOS33;
NET "SRdat[18]" LOC = "P17"  | IOSTANDARD = LVCMOS33;
NET "SRdat[19]" LOC = "P18"  | IOSTANDARD = LVCMOS33;
NET "SRdat[20]" LOC = "T17"  | IOSTANDARD = LVCMOS33;
NET "SRdat[21]" LOC = "T18"  | IOSTANDARD = LVCMOS33;
NET "SRdat[22]" LOC = "U18"  | IOSTANDARD = LVCMOS33;
NET "SRdat[23]" LOC = "U17"  | IOSTANDARD = LVCMOS33;
NET "SRdat[24]" LOC = "L15"  | IOSTANDARD = LVCMOS33;
NET "SRdat[25]" LOC = "L16"  | IOSTANDARD = LVCMOS33;
NET "SRdat[26]" LOC = "M16"  | IOSTANDARD = LVCMOS33;
NET "SRdat[27]" LOC = "M18"  | IOSTANDARD = LVCMOS33;
NET "SRdat[28]" LOC = "N17"  | IOSTANDARD = LVCMOS33;
NET "SRdat[29]" LOC = "N18"  | IOSTANDARD = LVCMOS33;
NET "SRdat[30]" LOC = "N16"  | IOSTANDARD = LVCMOS33;
NET "SRdat[31]" LOC = "N15"  | IOSTANDARD = LVCMOS33;


# keyboard
NET "PS2C" LOC = "D8" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "PS2D" LOC = "B11" | IOSTANDARD = LVCMOS33 | PULLUP;

# PS/2 mouse
NET "msclk" LOC = "C6" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "msdat" LOC = "C9" | IOSTANDARD = LVCMOS33 | PULLUP;

# SPI (SD-Card)
NET "MOSI[0]" LOC = "B3" | IOSTANDARD = LVCMOS33;
NET "SCLK[0]" LOC = "A3" | IOSTANDARD = LVCMOS33;
NET "SS[0]"   LOC = "A2" | IOSTANDARD = LVCMOS33;
NET "MISO[0]" LOC = "B4" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "LED5"    LOC = "A12" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;

# SPI (Network)
NET "SS[1]"   LOC = "D9" | IOSTANDARD = LVCMOS33;           # PMOD1-1
NET "MOSI[1]" LOC = "C8" | IOSTANDARD = LVCMOS33;           # PMOD1-2
NET "MISO[1]" LOC = "D6" | IOSTANDARD = LVCMOS33 | PULLUP;  # PMOD1-3
NET "SCLK[1]" LOC = "C4" | IOSTANDARD = LVCMOS33;           # PMOD1-4
NET "NEN"     LOC = "F17" | IOSTANDARD = LVCMOS33;          # C0

# ==== DVI ====
NET "TMDS(0)"  	LOC = "T6" | IOSTANDARD = TMDS_33 ; # Blue
NET "TMDSB(0)"  LOC = "V6" | IOSTANDARD = TMDS_33 ;
NET "TMDS(1)"  	LOC = "U7" | IOSTANDARD = TMDS_33 ; # Red
NET "TMDSB(1)"  LOC = "V7" | IOSTANDARD = TMDS_33 ;
NET "TMDS(2)"  	LOC = "U8" | IOSTANDARD = TMDS_33 ; # Green
NET "TMDSB(2)"  LOC = "V8" | IOSTANDARD = TMDS_33 ;
NET "TMDS(3)"  	LOC = "U5" | IOSTANDARD = TMDS_33 ; # Clock
NET "TMDSB(3)"  LOC = "V5" | IOSTANDARD = TMDS_33 ;


